@model OrdenarPizza.Models.FacturaModel

@{
    ViewBag.Title = "Factura";
}

<div class="modal fade modalZ" id="direccion" tabindex="1000" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese su dirección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="irArmarPizza()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return guardarDireccion();" }))
            {
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label" for="nombreInput">Nombre completo</label>
                            <input type="text" title="Nombre con apellidos preferiblemente" class="form-control" placeholder="Digite nombre completo" id="nombreInput" required value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label" for="telefonoInput">Número telefónico</label>
                            <input type="tel" title="Número telefónico con esta estructura 1234-5678" class="form-control" placeholder="1234-5678" id="telefonoInput" required value="" pattern="[0-9]{4}-[0-9]{4}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label" for="cantonInput">Cantón</label>
                            <input type="text" class="form-control" placeholder="Digite su cantón" id="cantonInput" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label" for="provinciaInput">Provincia</label>
                            <input type="text" class="form-control" placeholder="Digite su provincia" id="provinciaInput" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="irArmarPizza()">Regresar</button>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            }
        </div>
    </div>
</div>

<br />
<br />
<div class="shadow" style="padding: 25px; border-radius: 25px; background-color:white;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="center well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col">
                    <address>
                        <p id="informacion"></p>
                    </address>
                </div>
                <div class="col">
                    <p id="domicilio"></p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Factura</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-center">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9">
                                <em>
                                    Tipo de masa: @ViewBag.pizza.tipoMasa
                                </em>
                            </td>
                            @if (ViewBag.pizza.tipoMasa == "Original")
                            {
                            <td class="col-md-1 text-center">$0.00</td>
                            }
                            else
                            {
                            <td class="col-md-1 text-center">$@Model.precioTipoMasa.ToString("#.##")</td>
                            }
                        </tr>
                        <tr>
                            <td class="col-md-9">
                                <em>
                                    Tamaño: @ViewBag.pizza.tamañoPizza
                                </em>
                            </td>
                            <td class="col-md-1 text-center">$@Model.precioTamaño.ToString("#.##")</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">
                                <em>
                                    Salsa: @ViewBag.pizza.salsa<br />
                                </em>
                                <br />
                                <em>
                                    Queso: @ViewBag.pizza.queso<br />
                                </em>
                                <br />
                                <em>
                                    Ingredientes: <br />
                                </em>
                                @for (var i = 0; ViewBag.pizza.ingredientes != null && i < (ViewBag.pizza.ingredientes.Length - 1); ++i)
                                {
                                if ((i % 3) + 1 != 3)
                                {
                                string hilera = ViewBag.pizza.ingredientes[i] + ", ";
                                @hilera
                                }
                                else
                                {
                                string hilera = ViewBag.pizza.ingredientes[i] + "\n";
                                @hilera
                                <br>
                                }
                                }
                                @if (ViewBag.pizza.ingredientes != null)
                                {
                                @ViewBag.pizza.ingredientes[ViewBag.pizza.ingredientes.Length - 1]
                                }
                            </td>
                            <td class="col-md-1 text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Impuesto: </strong>
                                </p>
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>$@Model.subtotal.ToString("#.##")</strong>
                                </p>
                                <p>
                                    <strong>$@Model.costoImpuesto.ToString("#.##")</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$@Model.costoTotal.ToString("#.##")</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-lg btn-block" onclick="irIndex()">
                    Comprar<span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 1%;
    }

    .modalZ {
        z-index: 2147483647;
    }
</style>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#direccion').modal('show');
    });

    function irArmarPizza() {
        window.location = '/Pizza/VerArmarPizza';
    }

    function irIndex() {
        window.location = '/Factura/CompraRealizada';
        //window.location.href = '@Url.Action("Action", "Controller")/' + id;
    }

    function guardarDireccion() {
        var canton = document.getElementById("cantonInput").value;
        var cliente = document.getElementById("nombreInput").value;
        var provincia = document.getElementById("provinciaInput").value;
        var numeroTelefonico = document.getElementById("telefonoInput").value;
        document.getElementById("informacion").innerHTML = 'Nombre del cliente: <br>' + cliente + '<br><br>Lugar de entrega: <br>' + canton + ', ' + provincia;
        document.getElementById("domicilio").innerHTML = 'Número de teléfono: <br> (+506) ' + numeroTelefonico;
        $('#direccion').modal('hide');
        return false;
    }
</script>


