@model OrdenarPizza.Models.PizzaModel

@{
    ViewBag.Title = "VerFactura";
}

<div class="modal fade modalZ" id="direccion" tabindex="1000" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese su dirección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return guardarDireccion();" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label" for="provinciaInput">Provincia</label>
                                <input type="text" class="form-control" placeholder="Digite su provincia" id="provinciaInput" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label" for="cantonInput">Cantón</label>
                                <input type="text" class="form-control" placeholder="Digite su cantón" id="cantonInput" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label" for="telefonoInput">Número telefónico</label>
                                <input type="tel" title="Número telefónico con esta estructura 1234-5678" class="form-control" placeholder="1234-5678" id="telefonoInput" required value="" pattern="[0-9]{4}-[0-9]{4}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarDireccion()">Guardar</button>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
             }
        </div>
    </div>
</div>

<div class="shadow" style="padding: 25px; border-radius: 25px; background-color:white;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="center well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <p id="informacion"></p>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Factura</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9">
                                <em>
                                    @Html.DisplayNameFor(model => model.tipoMasa): @Html.DisplayFor(model => model.tipoMasa)
                                </em>
                            </td>
                            <td class="col-md-1 text-center">$13</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">
                                <em>
                                    @Html.DisplayNameFor(model => model.tamañoPizza): @Html.DisplayFor(model => model.tamañoPizza)
                                </em>
                            </td>
                            <td class="col-md-1 text-center">$13</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Impuesto: </strong>
                                </p>
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>costoPrevio</strong>
                                </p>
                                <p>
                                    <strong>costoImpuesto</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$costoTotal</strong></h4></td>
                        </tr>
                    </tbody>
                    </table>
                <button type="button" class="btn btn-success btn-lg btn-block">
                    Comprar<span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 1%;
    }

    .modalZ {
        z-index: 2147483647;
    }
</style>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#direccion').modal('show');
    });

    function guardarDireccion() {
        var canton = document.getElementById("cantonInput").value;
        var provincia = document.getElementById("provinciaInput").value;
        var numeroTelefonico = document.getElementById("telefonoInput").value;
        if (canton != null && provincia != null && numeroTelefonico != null) {
            document.getElementById("informacion").innerHTML = canton + ', ' + provincia + '<br> Número de teléfono: <br> (+506) ' + numeroTelefonico;
        }
        $('#direccion').modal('hide');
        return false;
    }
</script>


